{% extends "twitter/_layout" %}
{% import "twitter/_includes/macros" as macros %}

{% block main %}
    <div class="col-md-12">
        <h1>Getting Users</h1>

        <h2>Getting a user by ID</h2>

        <h3>Preview</h3>
        {% set twitterUser = craft.twitter.getUserById(236658433) %}

        {% if twitterUser %}
            <ul>
                <li>{{ twitterUser.name }} (@{{ twitterUser.screen_name }})</li>
                <li>{{ twitterUser.location }}</li>
                <li>{{ twitterUser.description }}</li>
            </ul>
        {% endif %}

        <h3>Response</h3>
        {{ macros.prettyPrint(twitterUser) }}

    </div>
{% endblock main %}


