{% extends "twitter/_layout" %}

{% block main %}
    <div class="col-md-12">
        <h1>Mentions</h1>
        <p>Use Tweet fields and Craft globals to display mentions from your customers on your website.</p>

        <h3>Configuration</h3>
        <ul>
            <li>Install Twitter plugin</li>
            <li>Create a global and call it <strong>Twitter Example</strong> <small>(<code>twitterExample</code>)</small></li>
            <li>Create a <strong>Mentions</strong> <small>(<code>mentions</code>)</small> matrix field</li>
            <li>Add a <strong>Tweet</strong> <small>(<code>tweet</code>)</small> block type to this matrix field</li>
            <li>Add a <strong>Tweet</strong> <small>(<code>tweet</code>)</small> field to this block type</li>
            <li>Copy some tweet URLs and create fixture mentions</li>
        </ul>

        <h3>Preview</h3>

        {% if twitterExample is defined %}
			{% if twitterExample.mentions|length > 0 %}
				{% for mention in twitterExample.mentions %}
                    {% set tweetUrl = mention.tweet %}
                    {% set tweet = craft.twitter.getTweetByUrl(tweetUrl) %}

                    {% if tweet %}
                        <div class="tweet">
                            <img src="{{ tweet.getUserProfileImageUrl(73) }}" />
                            <p><cite><a href="{{ tweet.url }}">{{ tweet.username }} (@{{ tweet.userScreenName }})</a></cite></p>
                            <blockquote>{{ tweet.text|autoLinkTweet }}</blockquote>
                        </div>
                    {% else %}
                        <p>Tweet not found.</p>
                    {% endif %}

					{% if loop.index is divisible by(3) %}
                        <div class="clearfix"></div>
					{% endif %}
				{% endfor %}
			{% else %}
                <p>Couldn't find any mentions, please populate some content.</p>
			{% endif %}
        {% else %}
            <p>Preview not available because <strong>Twitter Example</strong> <small>(<code>twitterExample</code>)</small> global couldn't be found.</p>
        {% endif %}
    </div>
{% endblock main %}


