{% extends "twitter/_layout" %}

{% block main %}
    <div class="col-md-12">
        <h1>Requesting the Twitter API</h1>
        <p>Display recent tweets by requesting twitter API from your templates.</p>


        <!-- Single Tweet -->

        <h2>Single Tweet</h2>

        {% set response = craft.twitter.get("statuses/show", {id: 1004820018939514880111, tweet_mode: 'extended' }) %}

        <h3>Example</h3>
        {% if response.success %}
            {% set tweet = craft.twitter.parseTweetData(response.data) %}

            <div class="tweet">
                <img src="{{ tweet.getUserProfileImageUrl() }}" />
                <p><cite><a href="{{ tweet.url }}">{{ tweet.username }} (@{{ tweet.userScreenName }})</a></cite></p>
                <blockquote>{{ tweet.text|autoLinkTweet }}</blockquote>
            </div>
        {% else %}
            <pre>Couldn’t get tweet.</pre>
        {% endif %}

        <h3>Response</h3>
        <pre>{{ response|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>


        <!-- Current User Timeline -->

        <h2>Current User Timeline</h2>

        {% set response = craft.twitter.get("statuses/user_timeline", {count:5}) %}

        <h3>Response</h3>
        {% if response.success %}
            {% set tweets = response.data %}
            <pre>{{ tweets|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
        {% else %}
            <p>An error occured:</p>
            <pre>{{ response.data|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
        {% endif %}


        <!-- User Timeline -->

        <h2>User Timeline</h2>

        {% set response = craft.twitter.get("statuses/user_timeline", {screen_name:'CraftCMS', count:5}) %}

        <h3>Response</h3>
        {% if response.success %}
            {% set tweets = response.data %}
            <pre>{{ tweets|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
        {% else %}
            <p>An error occured:</p>
            <pre>{{ response.data|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
        {% endif %}
    </div>
{% endblock main %}
