{% extends "twitter/_layout" %}

{% block main %}
    <div class="col-md-12">
        <h1>Multiple Tweet fields with Matrix</h1>

        <h3>Configuration</h3>
        <ol>
            <li>Install the Twitter plugin.</li>
            <li>Create a Matrix field called <strong>Multiple Tweets</strong> <small>(<code>multipleTweets</code>)</small>.</li>
            <li>Add a <strong>Tweet</strong> <small>(<code>tweet</code>)</small> block type to this matrix field.</li>
            <li>Add a <strong>Tweet</strong> <small>(<code>tweet</code>)</small> field to this block type.</li>
            <li>Create a global called <strong>Twitter Example</strong> <small>(<code>twitterDemo</code>)</small>.</li>
            <li>Add the “Multiple Tweets” to the global’s fields under the “Field Layout” tab.</li>
            <li>Go to <strong>CP → Globals → Twitter Demo</strong> and add some tweet URLs.</li>
        </ol>

        <h3>Preview</h3>
        {% if twitterDemo is defined and twitterDemo['multipleTweets'] is defined %}
            {% if twitterDemo.multipleTweets|length > 0 %}
                {% for tweetBlock in twitterDemo.multipleTweets %}
                    {% set tweet = craft.twitter.getTweet(tweetBlock.tweet) %}

                    {% if tweet %}
                        <div class="tweet">
                            <img src="{{ tweet.getUserProfileImageUrl() }}" />
                            <p><cite><a href="{{ tweet.url }}">{{ tweet.username }} (@{{ tweet.userScreenName }})</a></cite></p>
                            <blockquote>{{ tweet.text|autoLinkTweet }}</blockquote>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>Couldn’t find any multipleTweets, please populate some content.</p>
            {% endif %}
        {% else %}
            <p>Preview not available because the <strong><code>twitterDemo.multipleTweets</code></strong> field couldn’t be found.</p>
        {% endif %}
    </div>
{% endblock main %}


