{% extends "twitter/_layout" %}

{% set title = "autoLinkTweet" %}

{% block main %}
    <div class="col-md-12">
        <h3>Preview</h3>
        <div class="panel panel-default">
            <div class="panel-body">
                {% set response = craft.twitter.get("statuses/user_timeline", {count:5}) %}
                {% set tweets = response.data %}

                {% for tweet in tweets %}
                    <div class="tweet">
                        {{ tweet.text|autoLinkTweet({
                            urlClass: 'twitter-url',
                            usernameClass: 'twitter-username',
                            listClass: 'twitter-list',
                            hashtagClass: 'twitter-hashtag',
                            cashtagClass: 'twitter-cashtag',
                            noFollow: true,
                            noOpener: true,
                            external: true,
                            target: '_blank'
                        }) }}

                        {% if not loop.last %}
                            <hr>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock main %}
