{% extends "twitter/_layout" %}

{% set title = "twitterTimeAgo" %}

{% set extraPageHeaderHtml %}
    <p>Returns how long ago the tweet was created.</p>
{% endset %}

{% block main %}
    <div class="col-md-12">
        <h3>Preview</h3>
        <div class="panel panel-default">
            <div class="panel-body">
                {% set tweet = craft.twitter.getTweet('https://twitter.com/CraftCMS/status/998619839043256321') %}
                {{ 'Tweet created {timeAgo}.'|t('twitter', {timeAgo: tweet.createdAt|twitterTimeAgo}) }}
            </div>
        </div>
    </div>
{% endblock main %}
